.component-title {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  text-align: center;
}

/* The container */
.container {
  width: 66px;
  height: 31px;
  position: relative;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  width: 100%;
  height: 100%;
  background-color: #e9e9eb;
  border-radius: 16px;
  transition: background-color 0.2s ease-out;
  position: relative;
}

/* The switch when checked */
.switch.checked {
  background-color: #2e89ff;
}

/* The slider */
.slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: 2px; /* Default position when off */
  top: 2px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: left 0.2s ease-out, transform 0.2s ease-out;
}

/* The slider position when checked */
.switch.checked .slider {
  left: calc(100% - 27px - 2px); /* Aligns to the right when on */
}
