.loader2 {
  border: 3px solid rgba(46, 137, 255, 1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader2 {
  border: 3px solid rgba(46, 137, 255, 1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader2 {
  border: 4px solid rgba(46, 137, 255, 1);
  border-left-color: transparent;
  border-top-color:transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 .35s linear infinite;
}

.loader3 {
  border: 2px solid rgba(46, 137, 255, 1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader3 {
  border: 2px solid rgba(46, 137, 255, 1);
  border-left-color: transparent;
  width: 20px;
  height: 20px;
}

.loader3 {
  border: 2px solid rgba(46, 137, 255, 1);
  border-left-color: transparent;
  border-top-color:transparent;
  width: 20px;
  height: 20px;
  animation: spin89345 .35s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}