.pill-marker {
    background-color: #051d40;
    color: #fff;
    padding: 4px 12px;
    border-radius: 32px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); /* Optional: add a shadow for better visibility */;
    font-family:'Inter';
    font-weight: 500;
    font-size:18px;
    transition: 0.25s all ease-out;
}

.pill-marker:hover {
    transform:scale(1.05);
    transition: 0.25s all ease-out;
}

/* Parent Location: Breathing Semi-Transparent Radius */
.parent-loc {
    position: relative;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: rgba(27, 132, 255, 0.3); /* Semi-transparent blue */
    border-radius: 50%;
    animation: breathe 2s infinite ease-in-out; /* Breathing animation */
  }
  
  /* Child Location: Circle with Solid Border */
  .child-loc {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-color: #1b84ff; /* Solid blue */
    border: 4px solid #fff; /* White border */
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Breathing Animation */
  @keyframes breathe {
    0%, 100% {
      transform: scale(1);
      background-color: rgba(27, 132, 255, 0.3); /* Initial background color */
    }
    50% {
      transform: scale(1.2);
      background-color: rgba(27, 132, 255, 0.15); /* More transparent background */
    }
  }
  

  /* Custom CSS for popup width */
.custom-popup .leaflet-popup-content-wrapper {
  width: 245px; /* Adjust width as needed */
  height:300px;
  padding-top:15px;
}

/* Optional: Adjust the arrow position if necessary */
.custom-popup .leaflet-popup-tip {
  padding:0px;
}

.cluster-marker {
  background-color: #051d40;
  border-radius: 32px;
  border:2px solid #fff;
  box-shadow:0px 6px 12px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.custom-cluster-icon {
  background: transparent;
  border: none;
}